.imgd{
   
    
    height: 100vh;
    background-image: url('../../../assets/img/crazy.png') ;
    background-attachment: fixed;
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 20%; */
    background-size: 100% 100%;
}
