.imgd{
    background-image: url('../../../assets/img/crazy.png');
    width: 1000px;
    height: 900px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 15%;
    
}