
<div class="fondoprincipal">


<div class="fondo">
<div class="imagen">
    <img src="../../../assets/img/logoprom.png" alt="" width="100%" height="">

</div>
</div>


<div class="cajauno">

<div class="t">
<div class="texto">
  <img id="bienvenido" src="../../../assets/img/bienvenidologo.png" alt="">
  <p>
    Gracias por querer formar parte del equipo de CRAZY CANDY, te damos la más cordial bienvenida, a continuación daremos una breve explicacion del proyecto. Nos dedicamos a comercializar productos de todo tipo de marcas, desde dulces regionales hasta dulces americanos con la más alta calidad.
    Dentro de dicha pagina podras administrar cada una de las tareas que este negocio maneja, asi como mantener en perfectas condiciones la base de datos. 
    Esperamos que sea de tu agrado formar parte de este grandioso equipo!
  </p>
</div>
</div>

  <div class="card" style="width: 20rem;">
    <img src="../../../assets/img/carrusel1.png" class="card" alt="...">
    <div class="card-body">
      <p class="card-text">¡Sweet!</p>
    </div>
  </div>
  

</div>

</div>

