<nav class="navbar navbar-expand-lg">
    
  <a class="navbar-brand" href=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bars"></span>
    
  </button>
 
 
  
    <div class="collapse navbar-collapse opt" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <img src="" alt="">
       
        <li class="nav-item dropdown" id="notification_li">
          <span id="notification_count">{{count}}</span>
        <a class="nav-link dropdown-toggle icon-bell-1" href="#" id="notificationLink" [ngClass]="{paused:band_paused}" role="button" data-toggle="dropdown" aria-expanded="false" (click)="seen()"></a>
          
          <div class="dropdown-menu" >
           
              <!-- <a *ngFor="let obj of notifications,index as i" class="dropdown-item" href="#"  (click)="updateCount(i)">{{obj.text}}</a> -->
              <div class="list-group lista" >
                <a class="list-group-item list-group-item-action active" *ngFor="let obj of notifications,index as i" class="dropdown-item" href="#"  (click)="updateCount(i)">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Mensaje</h5>
                    <small></small>
                  </div>
                  <p class="mb-1">{{obj.text}}.</p>
                  <small>{{obj.author}}</small>
                  <div class="dropdown-divider"></div>
                </a>
               
              </div>

            
            
          </div>
          
        </li>
        
        


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            {{name}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logOut()">Log Out</a>
            <a class="dropdown-item" (click)="grafica()">GenGra</a>
            <a class="dropdown-item" (click)="grafica2()">VenGra</a>
          </div>
        </li>


      </ul>
     
      


    </div>
    <form class="form-inline my-2 my-lg-0">
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="this.prod" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup.enter)="buscar()" 
      >
      <button class="btn" type="submit" (click)="buscar()">Search</button>
    </form>
  </nav>

