
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
a{
    cursor: pointer;
}

form{
    padding-right: 3em;
}

.btn{
    background: rgb(235, 64, 93);
    color: white;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
}

.btn:hover{
    cursor: pointer;
    background: rgb(233, 163, 175);
}

nav{
    height: 90px !important;
    width: 100%;
    float:right;
    padding-left: 24em;
    font-family: Fredoka One;
    /*background-color:  #5de696 ;*/
    background-color: #75dadd;
}
/* .collapse{
    display: flex !important;
    justify-content: flex-end;
    
} */
/*NOTIFICATIONS*/
#nav{list-style:none;margin: 0px;padding: 0px;}
#nav li {
float: left;
margin-right: 20px;
font-size: 14px;
font-weight:bold;
}
#nav li a{color:#333333;text-decoration:none}
#nav li a:hover{color:#006699;text-decoration:none}

.lista{
    height: 15em;
    overflow: scroll;
}

#notification_li
{
position:relative
}
#notificationContainer 
{
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 30px;
margin-left: -170px;
width: 100px;
z-index: -1;
display: none; 
}

#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#notificationTitle
{
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
position: fixed;
z-index: 1000;
width: 384px;
border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
padding: 33px 0px 0px 0px !important;
min-height:300px;
}
#notificationFooter
{
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}


#notification_count 
{
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 20px;
border-radius: 9px;
-moz-border-radius: 9px; 
-webkit-border-radius: 9px;
position: absolute;
margin-top: -7px;
font-size: 11px;


}

.paused{
    animation-name: bell;
    animation-duration: 0.15s;
    animation-iteration-count: infinite;
}
@keyframes bell {
    44%{
        transform: rotate(45deg) scale(0.7);
    }   
    50%{
        transform: rotate(0deg);
    } 
    99%{
        transform: rotate(-45deg) scale(0.7);
    }
}

li.nav-item a{
    color: rgb(230, 53, 82)!important;
    font-size: 19px;

}

li.nav-item a:hover{
    color:  rgb(185, 42, 42)!important;
    font-size: 22px;
}

li.nav-item{
    margin-right: 2em;
}