<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <a class="navbar-brand" href="#">Navbar</a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtext" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      
    </button>
  
    <div class="collapse navbar-collapse" id="navtext">
      <ul class="navbar-nav mr-auto">
        <img src="" alt="">
        <li class="nav-item active" >
          
          <a class="nav-link" [routerLink]="['portal']">User <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['login']" >Log in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown" id="notification_li">
          <span id="notification_count">{{count}}</span>
        <a class="nav-link dropdown-toggle icon-bell-1" href="#" id="notificationLink" [ngClass]="{paused:band_paused}" role="button" data-toggle="dropdown" aria-expanded="false"></a>
          
          <div class="dropdown-menu" >
           
              <!-- <a *ngFor="let obj of notifications,index as i" class="dropdown-item" href="#"  (click)="updateCount(i)">{{obj.text}}</a> -->
              <div class="list-group lista" >
                <a class="list-group-item list-group-item-action active" *ngFor="let obj of notifications,index as i" class="dropdown-item" href="#"  (click)="updateCount(i)">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small></small>
                  </div>
                  <p class="mb-1">{{obj.text}}.</p>
                  <small>{{obj.author}}</small>
                  <div class="dropdown-divider"></div>
                </a>
               
              </div>

            
            
          </div>
          
        </li>
        
        


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logOut()">Log Out</a>
          </div>
        </li>


      </ul>
     

     


    </div>
  </nav>
