<div class="fondo">
<div class="wrapper" >
  <h1>Actualizar Ubicación</h1>
    <div [formGroup]="this.form">
      <div class="titulo">
      <h1>Actualizar Ubicación</h1>
    </div>
    <div class="cajauno">
        
          <div class="cajitauno">
            <div class="form-group">
              <label for="inputnum">Ingresa ID de la ubicación</label>
              <input type="text" class="form-control" id="inputnum" formControlName="ubinum">
              <p *ngIf='this.form.get("ubinum")?.value == "" || this.form.get("ubinum")?.value == null'><b>Si no te sabes el id de la ubicacion ve a la opción Consultas</b></p>
            <!-- <label for="inputest">Nombre de la Ciudad</label>
      
            <select [(ngModel)]="this.optionCiudad"  class="custom-select" id="inputGroupSelect02" aria-label="Example select with button addon" >
                <option selected value="0">Todas las Ubicaciones por Ciudad...</option>
                <option *ngFor="let cd of resCiudades" [value]="cd.ciudad">{{cd.ciudad}}</option>
            </select>

            <select [(ngModel)]="this.optionColonia"  class="custom-select" id="inputGroupSelect02" aria-label="Example select with button addon" >
                <option selected value="0">Todas las Ubicaciones por Ciudad...</option>
                <option *ngFor="let cd of resCiudades" [value]="cd.ciudad">{{cd.ciudad}}</option>
            </select> -->
            <div class="boton">
            <button  (click)="buscar()" type="submit" class="btn" id="Buscar" [disabled]="(this.form.get('ubinum')?.invalid && this.form.get('estado')?.invalid && this.form.get('ciudad')?.invalid)">Buscar</button>
          </div>
            </div>
          
            <!-- <div style="display: none;" class="form-group col-md-6">
                <label for="inputnom"></label>
                <input type="text" class="form-control" id="inputnom"  formControlName="busnombre" (keyup)="controlar(2)">
                 </div> -->
        </div>
      
        
        <div class="form-row" >
          <div class="form-group col-md-6">
            <label for="inputEmail4">Estado</label>
            <input placeholder="No se admiten caracteres especiales('!&|)" [ngClass]="{'invalid':this.form.get('estado')?.invalid,'valid':!this.form.get('estado')?.invalid}" type="text" class="form-control" id="inputNombre" formControlName="estado">
           </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Ciudad</label>
            <input placeholder="No se admiten caracteres especiales('!&|)" [ngClass]="{'invalid':this.form.get('ciudad')?.invalid,'valid':!this.form.get('ciudad')?.invalid}" type="text" class="form-control" id="inputAppat" formControlName="ciudad">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Colonia</label>
              <input placeholder="No se admiten caracteres especiales('!&|)" [ngClass]="{'invalid':this.form.get('colonia')?.invalid,'valid':!this.form.get('colonia')?.invalid}" type="text" class="form-control" id="inputApmat" formControlName="colonia">
            </div>
            <div class="form-group col-md-5">
              <label for="inputPassword4">cp</label>
              <input placeholder="4 caracteres numericos obligatorios" [ngClass]="{'invalid':this.form.get('cp')?.invalid,'valid':!this.form.get('cp')?.invalid}" type="text" class="form-control" id="inputPassword4" formControlName="cp">
             
            </div>
            
          </div>
        </div>
          <div class="botonac">
        <button (click)="update()" type="submit" class="btn">Actualizar</button>
      </div>
      
    </div>
    </div>
  </div>
