@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.fondo{
    background-image: url('../../../../../assets/img/fondologin.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 3em;
}

