@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.wrapper{
    width: 80%;
    margin:auto;
    font-family: Fredoka One;
}

.fondo{
    background-image: url('../../../../../assets/img/fondo9.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 4em;
   
    
}

table{
    background:rgb(18, 24, 104);
    text-align: center;
    box-shadow: 3px 7px 7px rgba(51, 51, 51, 0.5);
}