@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.wrapper{
    width: 60%;
    margin: auto;
}
i{
    height: 20%;
    cursor: pointer;
}
.fa-eye-slash{
    line-height: 4em;
}
.invalid{
    border: 2px solid red;
}
.valid{
    border: 2px solid green;
}
.genders{
    display: flex;
    justify-content: space-between;
}
input[type="radio"]{
    width: 4em;

}