@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    font-family: Fredoka One;
}

.wrapper{
    width: 40%;
    margin: auto;
    background-color: rgba(255, 223, 39, 0.603);
    margin-top: 3%;
    border-radius: 10px;
    color: white;
    text-shadow: 5px 5px 7px rgb(17, 17, 17);
    box-shadow: 0 0 20px rgb(255, 254, 254);
}
.wrapper2{
    width: 60%;
    margin: auto;
}

.fondo{
    background-image: url('../../../../../../assets/img/fondo6.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 2em;
    height: 100vh;
    
    
}

label{
    font-size: 20px;
}

input{
    color: black;
    

}

.boton{
    text-align: center;
    
}

.botonbuscar{
    margin-top: 5%;
    background: rgb(238, 106, 19);
    color: white;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    
}

.botonbuscar:hover{
    cursor: pointer;
    background:  #f3d355 ;
    color:  #f1970f ;
    
}

.form{
    padding: 2em;
    
}

.cajauno{
    padding: 1em;
    
}

.cajados{
    padding: 1em;
}