<div class="wrapper" >
    <div [formGroup]="this.form">
        
        <div class="form-row" >
          <div class="form-group col-md-6">
            <label for="inputEmail4">Estado</label>
            <input placeholder="No se admiten caracteres especiales('!&|)" [ngClass]="{'invalid':this.form.get('estado')?.invalid,'valid':!this.form.get('estado')?.invalid}" type="text" class="form-control" id="inputNombre" formControlName="estado">
           </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Ciudad</label>
            <input placeholder="No se admiten caracteres especiales('!&|)" [ngClass]="{'invalid':this.form.get('ciudad')?.invalid,'valid':!this.form.get('ciudad')?.invalid}" type="text" class="form-control" id="inputAppat" formControlName="ciudad">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Colonia</label>
              <input placeholder="No se admiten caracteres especiales('!&|)" [ngClass]="{'invalid':this.form.get('colonia')?.invalid,'valid':!this.form.get('colonia')?.invalid}" type="text" class="form-control" id="inputApmat" formControlName="colonia">
            </div>
            <div class="form-group col-md-5">
              <label for="inputPassword4">cp</label>
              <input placeholder="4 caracteres numericos obligatorios" [ngClass]="{'invalid':this.form.get('cp')?.invalid,'valid':!this.form.get('cp')?.invalid}" type="text" class="form-control" id="inputPassword4" formControlName="cp">
             
            </div>
            
          </div>
          
        <button  class="btn btn-primary" (click)="send()" [disabled]="this.form.invalid">Añadir nueva ubicación</button>
        
      </div>
    </div>