<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item ">
        <a class="page-link buttons" *ngIf="this.cont!=0" (click)="previous()">Previous</a>
      </li>
      <li  class="page-item">
        <a class="page-link active">{{contpag}}</a>
    </li>
    <li  class="page-item" *ngIf="this.res.length>10">
      <a class="page-link">{{contpag+1}}</a>
  </li>
     <li class="page-item">
        <a class="page-link buttons" *ngIf="this.res.length>10" (click)="next()">Next</a>
      </li>
    </ul>
  </nav>