
<div class="fondo">
<div class="wrapper">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button   (click)="buscar()"  class="btnbuscar" type="button" [disabled]="form.invalid">Buscar</button>
    </div>
    <select (change)="change()" [(ngModel)]="this.option"  class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon" >
      <option selected value="0">Tipos de consultas...</option>
      <option value="1">Todos</option>
      <option value="2">Por patron</option>
      <option value="3">Por id</option>
       
    </select>
  </div>
  <div [formGroup]="form">
    <div class="form-row">
      <div *ngIf="this.option == '2'" class="form-group col-md-6">
        <label for="inputnom">Texto</label>
        <input formControlName="texto" type="text" class="form-control" id="inputnom">
      </div>

      <div *ngIf="this.option == '3'" class="form-group col-md-6">
        <label for="inputid">ID</label>
        <input formControlName="id" type="text" class="form-control" id="inputid">
      </div>

    </div>
    
  </div>

  <app-options [sql]="this.sql" (event)="cambio($event)" (event)="pag.reinicia()" #options></app-options>
<table  class="table table-striped table-white">
    <thead class="thead-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Categoria</th>
        <th scope="col">Pasillo donde comienza</th>
        <th scope="col">Pasillo donde finaliza</th>
        <th scope="col">Activa</th>
        <th scope="col">Mas detalles</th>
        <th scope="col">Editar</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of cats,index as i">
        <th *ngIf="i!=10" scope="row">{{obj.ID}}</th>
        <td *ngIf="i!=10">{{obj.ncategoria}}</td>
        <td *ngIf="i!=10">{{obj.pasilloInicio}}</td>
        <td *ngIf="i!=10">{{obj.pasilloFin}}</td>
        <td *ngIf="i!=10">{{obj.status}}
          <a *ngIf="obj.status=='1' else darAlta" class="icon-trash-4 delete" (click)="pag.accion('elimina',this.sentencia+'0 WHERE id = '+obj.ID)" (click)="pag.update(2000)"></a>
          <ng-template #darAlta>
            <a class="icon-upload update" (click)="pag.accion('actualiza',this.sentencia+'1 WHERE id = '+obj.ID)" (click)="pag.update(2000)" ></a>
          </ng-template>
        </td>
        <td *ngIf="i!=10"><a (click)="mas(obj.ID)"><i class="icon-info-circle"></i> </a></td>
        <td *ngIf="i!=10"><i (click)="update(obj.ID)" class="icon-pencil"></i></td>
        
      </tr>
      
    </tbody>
  </table>
  
  <app-paginacion [query]="sql" (array)="result($event)" #pag></app-paginacion>

</div>
</div>
 