<div class="fondo">
<div class="wrapper">

  <div class="titulo">
    <h1>Consultar Sucursal</h1>
  </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button   (click)="buscar()"  class="btnbuscar" type="button" [disabled]="form.invalid">Buscar</button>
          </div>
          <select (change)="change()" [(ngModel)]="this.option"  class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon" >
            <option selected value="0">Tipos de consultas...</option>
            <option value="1">Todos</option>
            <option value="2">Por patron</option>
            <option value="3">Por id</option>
             
          </select>
        </div>
      
        <div [formGroup]="form">
            <div class="form-row">
              <div *ngIf="this.option == '2'" class="form-group col-md-6">
                <label for="inputnom">Texto</label>
                <input formControlName="texto" type="text" class="form-control" id="inputnom" 
                [ngClass]="{'invalid':this.form.get('texto')?.invalid,'valid':!this.form.get('texto')?.invalid}">
              </div>
    
              <div *ngIf="this.option == '3'" class="form-group col-md-6">
                <label for="inputid">ID</label>
                <input formControlName="id" type="text" class="form-control" id="inputid" 
                [ngClass]="{'invalid':this.form.get('id')?.invalid,'valid':!this.form.get('id')?.invalid}">
              </div>

            </div>
            
          </div>

        <app-options [ref]="op" [sql]="this.sql" (event)="cambio($event)" (event)="paginacion.reinicia()" #options></app-options>
      <div class="table-responsive-lg">
          <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col" colspan="8" style="text-align: center;">Sucursales</th>
                  
                </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ubicación</th>
                  <th scope="col">Calle</th>
                  <th scope="col">Número</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Email</th>
                  <th scope="col">Activa</th>
                  <th scope="col" colspan="2" style="text-align: center;">Horario</th>
                  <th scope="col">Actualizar</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of sucursales,index as i,let ultimo = last">
                   
                  <td *ngIf="i!=10">{{obj.ID}}</td>
                  <td *ngIf="i!=10">{{obj.ID_ubicacion}}</td>
                  <td *ngIf="i!=10">{{obj.calle}}</td>
                  <td *ngIf="i!=10">{{obj.numero}}</td>
                  <td *ngIf="i!=10">{{obj.telefono}}</td>
                  <td *ngIf="i!=10">{{obj.email}}</td>
                  <td *ngIf="i!=10">{{obj.status}}
                    <a *ngIf="obj.status==1 else darAlta" (click)="paginacion.accion('elimina',this.sentencia+'0 WHERE id = '+obj.ID)" class="icon-trash-4 delete"  (click)="paginacion.update(2000)"></a>
                    <ng-template #darAlta>
                      <a class="icon-upload update" (click)="paginacion.accion('actualiza',this.sentencia+'1 WHERE id = '+obj.ID)" (click)="paginacion.update(2000)"></a>
                    </ng-template>
                  </td>
                  <td *ngIf="i!=10">{{obj.horarioap}}</td>
                  <td *ngIf="i!=10">{{obj.horariocierre}}</td>
                  <td *ngIf="i!=10"><i class="icon-refresh" (click)="update(obj.ID)"></i></td>
                </tr>
              
              </tbody>
            </table>
      </div>      
      
      <app-paginacion [query]="sql" (array)="result($event)" #paginacion></app-paginacion>
      
     



</div>
</div>