@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.wrapper{
    width: 80%;
    margin: auto;
    font-family: Fredoka One;
}
img{
    height: 400px;
}
p{
    text-align: justify;
}

.fondo{
    background-image: url('../../../../../assets/img/fondoproducto.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 3em;
    
}

.card{
    box-shadow: 0 0 20px rgb(255, 254, 254);
    text-align: center;

}

.boton{
    text-align: center;
}