<!-- <div class="wrapper"> -->
    <nav id="sidebar" class="sidebar" [ngClass]="{scrooll:band}">
         <!-- close sidebar menu -->
    <div class="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>
 
    <div class="logo">
        <h3><a [routerLink]="['/paginainicio']"></a></h3>
    </div>
 
    <ul class="list-unstyled menu-elements" >

        <li *ngFor="let option of options">
            <div *ngIf="option.data.includes(this.user.privilegios)">
            <a href="#{{option.id}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="otherSections">
                <i class="fas {{option.icono}}"></i>{{option.opcion}}
            </a>
            <ul class="collapse list-unstyled" id="{{option.id}}" >

                <li *ngFor="let obj of option.rutas">
                    <div *ngIf="!obj.excluye.includes(this.user.privilegios)">
                        <a class="scroll-link"  [routerLink]="[obj.ruta]" routerLinkActive="active" href="">{{obj.nombre}}</a>
                    </div>

                </li>
               


            </ul>
        </div>
        </li>
      

    </ul>
 
    <div class="to-top" >
        <a class="btn btn-primary btn-customized-3" role="button" >
            <i class="fas fa-arrow-up"></i> Top
        </a>
    </div>
 
    <div class="dark-light-buttons">
        <a class="btn btn-primary btn-customized-4 btn-customized-dark dark" href="#" role="button" >Dark</a>
        <a class="btn btn-primary btn-customized-4 btn-customized-light light" href="#" role="button" >Light</a>
       
    </div>
    
    </nav>

    <div class="overlay"></div>

    <div class="content">
        <a class="btn btn-primary btn-customized open-menu" role="button">
            <i class="fas fa-align-left"></i> <span>Menu</span>
        </a>
    

        <!-- ... -->
 
        <!-- here is the page's content (not shown here) -->
 
        <!-- ... -->
    </div>
<!-- </div> -->
