@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.wrapper{
    width: 80%;
    margin: auto;
    font-family: Fredoka One;
}

.fondo{
    background-image: url('../../../../../assets/img/fondo11.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 3em;
    
}

.titulo{
    margin: auto;
    padding: 17px;
    text-shadow: 5px 5px 7px rgb(70, 70, 70);
    color: white;
}

i{
    height: 20%;
    cursor: pointer;
}
.fa-eye-slash{
    line-height: 4em;
}
.invalid{
    border: 2px solid red;
}
.valid{
    border: 2px solid green;
}

.cajauno{
    background-color: rgba(0, 0, 0, 0.205);
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 20px rgb(255, 254, 254);
    border-radius: 5px;
}

label{
    font-size: 15px;
    text-shadow: 5px 5px 7px rgb(70, 70, 70);
    color: white;
}

.btn{
    background: deeppink;
    color: white;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    font-size: 20px;
    
    
}

.btn:hover{
    cursor: pointer;
    background: rgb(241, 92, 179);
    color: rgb(253, 5, 108);
    
}

.boton{
    text-align: center;
    
}