
<div class="wrapper">
    <div [formGroup]="form" >

        <div class="form-group">
            <label for="inputnombre">Nombre de la categoria</label>
            <input [ngClass]="{'invalid':this.form.get('nombre')?.invalid,'valid':!this.form.get('nombre')?.invalid}" formControlName="nombre" type="text" class="form-control" id="inputnombre" placeholder="Ingresa nombre">
          </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputpinicio">Pasillo donde comienza</label>
            <input [ngClass]="{'invalid':this.form.get('pasilloInicio')?.invalid,'valid':!this.form.get('pasilloInicio')?.invalid}" formControlName="pasilloInicio" type="text" class="form-control" id="inputpinicio">
          </div>
          <div class="form-group col-md-6">
            <label for="inputpfin">Pasillo donde finaliza</label>
            <input [ngClass]="{'invalid':this.form.get('pasilloFin')?.invalid,'valid':!this.form.get('pasilloFin')?.invalid}" formControlName="pasilloFin" type="text" class="form-control" id="inputpfin">
          </div>
        </div>
       
       
        <button (click)="create()" type="submit" class="btn btn-primary">Dar de alta</button>
    </div>
</div>

