<div class="wrapper">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button   (click)="buscar()" (click)="paginacion.reinicia()" class="btn btn-outline-secondary" type="button" [disabled]="this.form.invalid">Buscar</button>
    </div>
    <select (change)="change()" [(ngModel)]="this.option"  class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon" >
      <option selected value="0">Tipos de consultas...</option>
      <option value="1">Todos</option>
      <option value="2">Vendedores</option>
      <option value="3">Almacenistas</option>
      <option value="4">Reponedores</option>
      <option value="5">Por nombre</option>
      <option value="6">Por id</option>
      <option value="7">Por correo electrónico</option>
      
    </select>
  </div>
<div class="input-group mb-3">

  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="Todos" name="customRadioInline" class="custom-control-input" checked="true" (click)="filtro(1)" (click)="paginacion.update(1)">
    <label class="custom-control-label" for="Todos">Todos</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="Habilitados" name="customRadioInline" class="custom-control-input" (click)="filtro(2)" (click)="paginacion.update(1)">
    <label class="custom-control-label" for="Habilitados">Habilitados</label>
  </div>

  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="Inhabilitados" name="customRadioInline" class="custom-control-input" (click)="filtro(3)" (click)="paginacion.update(1)">
    <label class="custom-control-label" for="Inhabilitados">Inhabilitados</label>
  </div>

</div>
  <div [formGroup]="form">
    <div class="form-row">
      <div *ngIf="controlador == 1 " class="form-group col-md-6">
        <label for="inputnom">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" id="inputnom">
      </div>

      <div *ngIf="controlador == 2 " class="form-group col-md-6">
        <label for="inputid">Id</label>
        <input formControlName="id" type="text" class="form-control" id="inputid">
      </div>
      <div *ngIf="controlador == 3 " class="form-group col-md-6">
        <label for="inputemail">Email</label>
        <input formControlName="email" type="text" class="form-control" id="inputemail">
      </div>



      <div *ngIf="controlador == 1 " class="form-group col-md-6">
        <label for="inputapmat">Apellido paterno</label>
        <input formControlName="appat" type="text" class="form-control" id="inputapmat">
      </div>
    </div>
    <div class="form-row" *ngIf="controlador == 1 ">
      <div class="form-group col-md-6" *ngIf="controlador == 1 ">
        <label for="inputapmat">Apellido materno</label>
        <input formControlName="apmat" type="text" class="form-control" id="inputapmat">
      </div>
    </div>
  </div>

<div class="table-responsive-lg">
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col" colspan="9" style="text-align: center;">{{title}}</th>
            
          </tr>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ID sucursal</th>
            <th scope="col">Nombre</th>
            <th scope="col">1er apellido</th>
            <th scope="col">2do apellido</th>
            <th scope="col">Cargo</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Activo</th>
            <th scope="col">Acción</th>
            <th scope="col">Más</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of users,index as i,let ultimo = last">
             
            <td *ngIf="i!=10">{{obj.ID}}</td>
            <td *ngIf="i!=10">{{obj.ID_sucursal}}</td>
            <td *ngIf="i!=10">{{obj.nombre}}</td>
            <td *ngIf="i!=10">{{obj.appat}}</td>
            <td *ngIf="i!=10">{{obj.apmat}}</td>
            <td *ngIf="i!=10">{{obj.privilegios}}</td>
            <td *ngIf="i!=10">{{obj.email}}</td>
            <td *ngIf="i!=10">{{obj.status}}</td>
            <td *ngIf="i!=10">{{obj.activo}}</td>
            <td *ngIf="i!=10">
              <a *ngIf="obj.status==1 else darAlta" class="icon-trash-4 delete" (click)="accion(obj.ID,obj.status)" (click)="paginacion.update(2000)"></a>
              <ng-template #darAlta>
                <a class="icon-upload update" (click)="accion(obj.ID,obj.status)" (click)="paginacion.update(2000)"></a>
              </ng-template>
            </td>
            <td *ngIf="i!=10"><i class="icon-newspaper-o more" (click)="moreUser(obj.ID)"></i></td>
            
          </tr>
        
        </tbody>
      </table>
</div>      

<app-paginacion [query]="sql" (array)="result($event)" #paginacion></app-paginacion>

</div>