.wrapper{
    width: 60%;
    margin: auto;
}
a, .delete{
    cursor: pointer;
    text-decoration: none;
    color: rgb(229, 45, 45) !important;
}

.update{
    color: rgb(13, 217, 16) !important;
}

i{
    cursor: pointer;
    color: rgb(26, 243, 232);
}

i:hover{
    color: rgb(154, 92, 154);
}