
<div class="wrapper">
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="email" class="form-control" id="inputEmail4">
       </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Apellido Paterno</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Apellido Materno</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
      </div>
      
    <!-- <div class="form-group">
      <label for="inputAddress">Email</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div> -->
   
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">Email</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
      <div class="form-group col-md-6">
        <label for="inputState">Privilegios</label>
        <select id="inputState" class="form-control">
          <option selected disabled>Choose...</option>
          <option>Administrador</option>
          <option>Vendedor</option>
          <option>Almacenista</option>
          <option>Encargado de acomodar productos</option>
        
        
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Sucursal</label>
        <select id="inputState" class="form-control">
          <option selected disabled>Choose...</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        
        
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>
