/* You can add global styles to this file, and also import other style files */

.cont{
    padding-left: 2em;
}


*::-webkit-scrollbar {
    width: 1em;
    
}
   
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
    background-color: darkgrey !important ;
    outline: 1px solid slategrey !important;
    
}
.invalid{
    border: 2px solid red !important;
}
.valid{
    border: 2px solid green !important;
}

.delete{
    cursor: pointer;
    text-decoration: none;
    color: rgb(229, 45, 45) !important;
}

.update{
    cursor: pointer;
    text-decoration: none;
    color: rgb(13, 217, 16) !important;
}

.more{
    cursor: pointer;
    color: rgb(26, 243, 232);
}

.more:hover{
    color: rgb(154, 92, 154);
}

body{
    height: 100% !important;
    width: 100% !important;
}
.icon-pencil{
    color: rgb(60, 195, 60);
}

.icon-pencil:hover{
    color: rgb(196, 255, 3);
}
i{
    cursor: pointer;
}
.icon-info-circle:hover{
    
    color: rgb(13, 167, 167);
    
}