@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.wrapper{
    width: 90%;
    margin: auto;
    font-family: Fredoka One;
}

.fondo{
    background-image: url('../../../../../../assets/img/fondo11.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 2em;
    
}

h1{
    text-shadow: 5px 5px 7px rgb(70, 70, 70);
    color: white;
}

.titulo{
    margin: 10px;
    padding: 10px;
   

}

table{
    background-color: palevioletred;
    color: rgb(124, 10, 71);
    margin: 15px;
}
